* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(171,104,233);
    background: linear-gradient(180deg, rgba(171,104,233,1) 0%, rgba(102,99,232,1) 100%);
    height: 100vh;
    width: 100%;
    font-family: 'Kumbh Sans', sans-serif;
}

.card {
    width: 64%;
    height: 64%;
    background: white;
    margin: auto;
    margin-top: 15vh;
    border-radius: 14px;
    box-shadow: 0 16px 20px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    /*overflow: hidden;*/
}

.card .left{

    position: relative;
    width: 50%;
}

.left > * {
    position: absolute;
}



#pattern{
    width: 200%;
    top: -470px;
    left: -540px;
}

.card .right {
    margin-top: 6%;
    width: 50%;
}

.right h1{
    margin-bottom: 30px;
}

