* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: hsl(237, 12%, 33%);
}

body {
    background: rgb(171,104,233);
    background: linear-gradient(180deg, rgba(171,104,233,1) 0%, rgba(102,99,232,1) 100%);
    height: 100vh;
    width: 100%;
    font-family: 'Kumbh Sans', sans-serif;
}

.card {
    width: 64%;
    height: 74%;
    background: white;
    margin: auto;
    margin-top: 15vh;
    border-radius: 14px;
    box-shadow: 0 16px 20px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    min-width: 860px;
}

.card .left{
    position: relative;
    width: 50%;
}

/* .left > * {
    position: absolute;
}
*/


#box {
    position: absolute;
    z-index: 3;
    left: -130px;
    top: 160px;
}

#pattern{
    position: absolute;
    width: 200%;
    top: -260px;
    left: -540px;
    z-index: 1;
}

#woman{
    position: absolute;
    width: 90%;
    top: -60px;
    left: -50px;
    z-index: 2;
}

.card .right {
    margin-top: 6%;
    width: 50%;
}

.right h1{
    margin-bottom: 30px;
}

.right .menu {
    width: 80%;
}

.menu .title {
    display: flex;
    justify-content: space-between;

}

.title:hover {
    cursor: pointer;
    color: hsl(14, 88%, 65%);
}

.title:hover h3 {
    color: hsl(14, 88%, 65%);
}

.menu h3 {
    font-size: 1em;
    font-weight: 400;
    margin: 8px;
}

.menu p{
    font-size: .8em;
    color: hsl(240, 6%, 50%);
    margin-top: 8px;
}

.menu > div {
    border-bottom: 1px solid hsl(240, 5%, 91%);
    padding: 10px 0;

}